<style>
    .calendar-parent {
        height: 100vh;
    }

    .fc-toolbar {
        padding: 15px 20px 10px;
    }
</style>
@*<link href="~/lib/bootstrap/dist/css/jquery.datetimepicker.css" rel="stylesheet">*@
<link href="~/css/fontawesome-free-5.8.1-web/css/all.css" rel="stylesheet" />
<link href="~/Asset/LTE/bower_components/fullcalendar/packages/core/main.css" rel="stylesheet" />
<link href="~/Asset/LTE/bower_components/fullcalendar/packages/bootstrap/main.css" rel="stylesheet" />
<link href="~/Asset/LTE/bower_components/fullcalendar/packages/daygrid/main.css" rel="stylesheet" />
<link href="~/Asset/LTE/bower_components/fullcalendar/packages/timegrid/main.css" rel="stylesheet" />
<link href="~/Asset/LTE/bower_components/fullcalendar/packages/list/main.css" rel="stylesheet" />

@*<br />
<br />*@
    @*<div class="wow fadeInUp">*@
        @*<div class="section-header wow fadeIn" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">
            <h3 class="section-title">CALENDAR</h3>
            <span class="section-divider"></span>
        </div>*@
        <div id="calendar" style="background-color: rgba(255, 255, 255, 0.4);"></div>
    @*</div>*@  

<script src="~/Asset/LTE/bower_components/fullcalendar/packages/core/main.js"></script>
<script src="~/Asset/LTE/bower_components/fullcalendar/packages/interaction/main.js"></script>
<script src="~/Asset/LTE/bower_components/fullcalendar/packages/bootstrap/main.min.js"></script>
<script src="~/Asset/LTE/bower_components/fullcalendar/packages/daygrid/main.js"></script>
<script src="~/Asset/LTE/bower_components/fullcalendar/packages/timegrid/main.js"></script>
<script src="~/Asset/LTE/bower_components/fullcalendar/packages/list/main.js"></script>

<script type="text/javascript">

			$(document).ready(function () {

                var calendarEl = document.getElementById('calendar');
               // $('#calender').fullCalendar('destroy');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    plugins: ['bootstrap', 'interaction', 'dayGrid', 'timeGrid', 'list'],
                    theme:true,
                    themeSystem: 'bootstrap',
                    //height: 'parent',
                    resourceAreaWidth: 230,
                    aspectRatio: 1.5,
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,listMonth'
                    },
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    navLinks: true, // can click day/week names to navigate views
                    businessHours: true, // display business hours
                    eventLimit: true, // allow "more" link when too many events
                    minTime: "06:00:00",
                    maxTime: "21:00:00",
                    //eventColor: '#378006',
                    events: '@Url.RouteUrl(new{ action="GetEvents", controller= "EAppointment" })',

                    eventMouseover: function (data, event, view) {

                        var endd = ""
                        if (data.end != null) {
                            endd = data.end.format("DD/MM/YYYY HH:mm A")
                        }

                        var tooltip = '<div class="tooltiptopicevent" style="width:auto;height:auto;background:#AEA8D3;position:absolute;z-index:10001;padding:10px 10px 10px 10px ;'
                        tooltip = tooltip + 'line-height: 200%;">' + 'Title ' + ': ' + data.title + '</br>' + 'Start ' + ': ' + data.start.format("DD/MM/YYYY HH:mm A");
                        tooltip = tooltip + '</br>' + 'End ' + ': ' + endd + '</br>' + 'Desc ' + ': ' + data.description + '</div>';


                        $("body").append(tooltip);
                        $(this).mouseover(function (e) {
                            $(this).css('z-index', 10000);
                            $('.tooltiptopicevent').fadeIn('500');
                            $('.tooltiptopicevent').fadeTo('10', 1.9);
                        }).mousemove(function (e) {
                            $('.tooltiptopicevent').css('top', e.pageY + 10);
                            $('.tooltiptopicevent').css('left', e.pageX + 20);
                        });
                    },
                    eventMouseout: function (data, event, view) {
                        $(this).css('z-index', 8);

                        $('.tooltiptopicevent').remove();

                    },

                });
                calendar.render();
    		});
</script>
