@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/image/Favicons.png" rel="icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AdmSOffice</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1,NO-CACHE">



    <style>
        /*ul {
            position: fixed;
            min-height: 100vh;
            list-style-type: none;
            margin: 0;
            padding: 0;
            color: #fff;
            text-align: center;
            width: 80px;
            background-image: linear-gradient(-130deg, #63bbac, #aad963);
            padding-right: 40px;
            z-index: 0;
        }

            ul .menu {
                padding: 30px 0;
            }

        aside ul li {
            padding: 20px 0;
            cursor: pointer;
        }


            aside ul li:not(.menu):hover {
                background-image: linear-gradient(-130deg, #eee, #fff);
                color: #63bbac;
            }*/

        section.main {
            z-index: 1;
            width: 80%;
            padding: 30px;
            background: #eee;
            margin-left: 80px;
            margin-right: 80px;
            border-radius: 30px;
        }

        .main article {
            background: #fff;
            padding: 10px 30px;
            border-radius: 30px;
            margin: 1%;
            box-sizing: border-box;
            filter: drop-shadow(2px 2px 5px #dedede);
        }

            .main article.half {
                width: 48%;
                float: left;
            }

            .main article p {
                color: #555;
            }

            .main article.activesection {
                color: #fff;
                background-image: linear-gradient(-130deg, #63bbac, #aad963);
            }

                .main article.activesection p {
                    color: #fff;
                }

            .main article.with-half-icon p {
                width: 50%;
                float: left;
                display: inline-block;
            }

            .main article.with-half-icon div {
                width: 50%;
                text-align: center;
                font-size: 100px;
                color: #aad963;
                display: inline-block;
            }

        .right-sidebar {
            border-radius: 30px;
            margin: 0 1%;
            width: 30%;
        }

            .right-sidebar article {
                background: #eee;
                border-radius: 30px;
                margin: 20px;
                padding: 10px 20px;
                box-sizing: border-box;
                filter: drop-shadow(2px 2px 5px #bababa);
            }


        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
    <link href="~/Asset/LTE/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Asset/LTE/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Asset/LTE/bower_components/morris.js/morris.css">
    <link rel="stylesheet" href="~/Asset/LTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/Asset/LTE/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/Asset/LTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link href="~/lib/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/Asset/LTE/bower_components/datatables.net/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Asset/LTE/bower_components/datatables.net/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/Asset/LTE/bower_components/datatables.net/rowGroup.dataTables.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Asset/LTE/bower_components/sweetalert2/package/dist/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/lib/formio/formio.builder.min.css" rel="stylesheet" />
    <link href="~/css/fontawesome-free-5.8.1-web/css/all.min.css" rel="stylesheet" />
    <link href="~/Asset/LTE/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Asset/LTE/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Asset/LTE/bower_components/Guriddo/css/ui.jqgrid-bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/jquery.datetimepicker.css" rel="stylesheet">
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet">
</head>

<body>  
    <section class="main" id="section1">
    </section>
        <section class="main" id="section">

            @*<article class="full">
                    <h2>Ui Kit presentation - full article with icon</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div>
                    </div>
                </article>
                <article class="half">
                    <h2>Ui Kit presentation - half article</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </article>
                <article class="half active">
                    <h2>Ui Kit presentation - half article active</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </article>
                <div class="clearfix"></div>
                <article class="full">
                    <h2>Ui Kit presentation - full article</h2>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </article>
                <article class="half active">
                    <h2>Ui Kit presentation</h2>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </article>
                <article class="half">
                    <h2>Ui Kit presentation</h2>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </article>*@
        </section>
       
        <!-- ./wrapper -->
        <!-- jQuery 3 -->
        <script src="~/Asset/LTE/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="~/js/jquery-migrate-3.0.0.min.js"></script>

        <!-- jQuery UI 1.11.4 -->
        @*<script src="~/Asset/LTE/bower_components/jquery-ui/jquery-ui.min.js"></script>*@
        <script src="~/Asset/LTE/bower_components/jquery-ui-bootstrap/assets/js/jquery-ui-1.10.0.custom.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <!-- Bootstrap 3.3.7 -->
        <script src="~/lib/select2/js/select2.min.js"></script>
        <script src="~/Asset/LTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Morris.js charts -->
        <script src="~/Asset/LTE/bower_components/raphael/raphael.min.js"></script>
        <!-- Sparkline -->
        <script src="~/Asset/LTE/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
        <!-- daterangepicker -->
        <script src="~/Asset/LTE/bower_components/moment/min/moment.min.js"></script>
        <script src="~/Asset/LTE/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- datepicker -->
        <script src="~/Asset/LTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="~/Asset/LTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
        <!-- Slimscroll -->
        <script src="~/Asset/LTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->
        <script src="~/Asset/LTE/bower_components/fastclick/lib/fastclick.js"></script>
        <!-- AdminLTE App -->
        <script src="~/Asset/LTE/dist/js/adminlte.min.js"></script>
        <script src="~/Asset/LTE/bower_components/datatables.net/jquery.dataTables.min.js"></script>
        <script src="~/Asset/LTE/bower_components/datatables.net/dataTables.bootstrap4.js"></script>
        <script src="~/Asset/LTE/bower_components/datatables.net/dataTables.responsive.min.js"></script>
        <script src="~/Asset/LTE/bower_components/datatables.net/dataTables.cellEdit.js"></script>
        <script src="~/Asset/LTE/bower_components/datatables.net/dataTables.rowGroup.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/lib/toastr/toastr.init.js"></script>
        <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
        <script src="~/Asset/LTE/bower_components/sweetalert2/package/dist/sweetalert2.min.js"></script>
        <script src="~/lib/formio/formio.full.min.js"></script>

        <script src="~/Asset/LTE/bower_components/sweetalert2/package/dist/sweetalert2.all.min.js"></script>
        <script src="~/js/moment.min.js"></script>
        <script src="~/js/fullcalendar.js"></script>
        <script src="~/lib/jquery/dist/jquery.datetimepicker.full.js"></script>
        <script src="~/js/bootstrap-2.min.js"></script>
        <script src="~/js/View/FlowControl/FlowControlScript.js"></script>
        <script type="text/javascript">
            $('.js-example-basic-multiple').select2();
        </script>

</body>
</html>
