
@{
    Layout = "_LayoutHR";
    ViewData["Title"] = "HR - Activities";
}

<style>
    .main-container {
        padding: 2rem;
        margin-top: 5rem;
    }

    .content-container {}
</style>

<div class="main-container">
    <header class="header-container">
        <h1 class="header-topic">MidYear Activity 2023</h1>
    </header>

    <main class="content-container"></main>
</div>
