
<div class="owl-carousel owl-loaded owl-drag" id="OwlHeader">
    <div class="owl-stage-outer">
        <div class="owl-stage" style="transition: all 0.25s ease 0s; width: 11391px; transform: translate3d(-5665px, 0px, 0px);">
            <div class="owl-item cloned" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="/courses/teacher-prep">
                        <img class="billboard_img" alt="ปราชญ์ข้าราชการครู เตรียมสอบครูผู้ช่วย สังกัด สพฐ. ภาค ก และ ข (เกณฑ์ใหม่และเกณฑ์เก่า)" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/492/medium/Banner_File_Template_2020_PS1000x320.jpg?1593736325">
                    </a>
                </div>
            </div><div class="owl-item cloned" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="/courses/Powerful-Data-Power-BI">
                        <img class="billboard_img" alt="Powerful Data with Power BI การวิเคราะห์และนำเสนอข้อมูลขั้นเทพ" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/491/medium/2337_Banner_3._1000x320.png?1593736291">
                    </a>
                </div>
            </div><div class="owl-item cloned" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="/business">
                        <img class="billboard_img" alt="SkillLane for Business Promote" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/287/medium/B2B_onsite_banner_revised.jpg?1575603401">
                    </a>
                </div>
            </div><div class="owl-item cloned" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="/TUXSA">
                        <img class="billboard_img" alt="Tuxsa" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/346/medium/TUXSA_onsite.jpg?1567511925">
                    </a>
                </div>
            </div><div class="owl-item cloned" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="/partner-privileges">
                        <img class="billboard_img" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/478/medium/AIS_CUnex_partner_onsite.png?1590378765">
                    </a>
                </div>
            </div><div class="owl-item" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="/courses/happy_successful_the_secret_set">
                        <img class="billboard_img" alt="สุข สำเร็จ The Secret Set" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/495/medium/2319_krungor_SEB_bannerOnsite.jpg?1595990561">
                    </a>
                </div>
            </div><div class="owl-item" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="https://www.skilllane.com/instructors/the-standard">
                        <img class="billboard_img" alt="" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/488/medium/TSD_Onsite.jpg?1594120658">
                    </a>
                </div>
            </div><div class="owl-item" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="/courses/New-Normal-New-You">
                        <img class="billboard_img" alt="ปลุกวิถีใหม่ในตัวคุณ (New Normal New You)" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/494/medium/2360_3._1000x320.jpg?1594610603">
                    </a>
                </div>
            </div><div class="owl-item" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="/courses/Maximum-Productivity">
                        <img class="billboard_img" alt="Maximum Productivity บริหารเวลาพัฒนาตัวเอง 10x" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/471/medium/cover_photo.jpg?1594610558">
                    </a>
                </div>
            </div><div class="owl-item" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="/courses/teacher-prep">
                        <img class="billboard_img" alt="ปราชญ์ข้าราชการครู เตรียมสอบครูผู้ช่วย สังกัด สพฐ. ภาค ก และ ข (เกณฑ์ใหม่และเกณฑ์เก่า)" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/492/medium/Banner_File_Template_2020_PS1000x320.jpg?1593736325">
                    </a>
                </div>
            </div><div class="owl-item active center" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="/courses/Powerful-Data-Power-BI">
                        <img class="billboard_img" alt="Powerful Data with Power BI การวิเคราะห์และนำเสนอข้อมูลขั้นเทพ" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/491/medium/2337_Banner_3._1000x320.png?1593736291">
                    </a>
                </div>
            </div><div class="owl-item active" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="/business">
                        <img class="billboard_img" alt="SkillLane for Business Promote" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/287/medium/B2B_onsite_banner_revised.jpg?1575603401">
                    </a>
                </div>
            </div><div class="owl-item" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="/TUXSA">
                        <img class="billboard_img" alt="Tuxsa" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/346/medium/TUXSA_onsite.jpg?1567511925">
                    </a>
                </div>
            </div><div class="owl-item" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="/partner-privileges">
                        <img class="billboard_img" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/478/medium/AIS_CUnex_partner_onsite.png?1590378765">
                    </a>
                </div>
            </div><div class="owl-item cloned" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="/courses/happy_successful_the_secret_set">
                        <img class="billboard_img" alt="สุข สำเร็จ The Secret Set" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/495/medium/2319_krungor_SEB_bannerOnsite.jpg?1595990561">
                    </a>
                </div>
            </div><div class="owl-item cloned" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="https://www.skilllane.com/instructors/the-standard">
                        <img class="billboard_img" alt="" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/488/medium/TSD_Onsite.jpg?1594120658">
                    </a>
                </div>
            </div><div class="owl-item cloned" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="/courses/New-Normal-New-You">
                        <img class="billboard_img" alt="ปลุกวิถีใหม่ในตัวคุณ (New Normal New You)" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/494/medium/2360_3._1000x320.jpg?1594610603">
                    </a>
                </div>
            </div><div class="owl-item cloned" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="/courses/Maximum-Productivity">
                        <img class="billboard_img" alt="Maximum Productivity บริหารเวลาพัฒนาตัวเอง 10x" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/471/medium/cover_photo.jpg?1594610558">
                    </a>
                </div>
            </div><div class="owl-item cloned" style="width: 594.524px; margin-right: 5px;">
                <div class="img_carousel_container">
                    <a href="/courses/teacher-prep">
                        <img class="billboard_img" alt="ปราชญ์ข้าราชการครู เตรียมสอบครูผู้ช่วย สังกัด สพฐ. ภาค ก และ ข (เกณฑ์ใหม่และเกณฑ์เก่า)" src="https://skilllane.s3.amazonaws.com/cover_photos/pictures/000/000/492/medium/Banner_File_Template_2020_PS1000x320.jpg?1593736325">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
  <script type="text/javascript">
      $(document).ready(function () {




      });
      
    </script>
}
