@model List<SmartOffice.ModelsEsmartOffice.AspNetGroup>
<style type="text/css">
</style>

@{
    var part = "MenuMainControl";

}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
    <div class="container-fluid">
        <img src="~/digilab/images/Logo_ROHM.png" alt="Smiley face" height="50" width="80"> <a class="navbar-brand"><span>E-Smart </span>Office</a> @*asp-controller="Home" asp-action="WorkArea"*@
        <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav nav ml-auto">
                <li class="nav-item"><a asp-controller="Home" asp-action="index" class="nav-link" data-target="#parentDropdown"><span>Home</span></a></li>
                @*<li class="nav-item"><a href="#document-section" class="nav-link"><span>E-document</span></a></li>*@
                @*<li class="nav-item"><a href="#management-section" class="nav-link"><span>E-management</span></a></li>
                    <li class="nav-item"><a href="#calendar-section" class="nav-link"><span>Calendar</span></a></li>
                    <li class="nav-item"><a href="#about-section" class="nav-link"><span>About</span></a></li>
                    <li class="nav-item"><a href="#contact-section" class="nav-link"><span>Contact</span></a></li>*@
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </div>
</nav>
<script>

</script>





