@*<!DOCTYPE html>
    <html lang="en">
    <head>

        <link rel="icon" href="~/digilab/images/logo.gif">
        <title>AdmSOffice</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <link href="~/Asset/LTE/dist/css/AdminLTE.css" rel="stylesheet" />

        <!------ Include the above in your HEAD tag ---------->
        <link href="~/Asset/LTE/dist/css/AdminLTE.css" rel="stylesheet" />
        <link href="~/css/fontawesome-free-5.8.1-web/css/all.min.css" rel="stylesheet" />

        <style type="text/css">
            /*haber akışı list*/
            ul.timeline {
                list-style-type: none;
                position: relative;
            }

                ul.timeline:before {
                    content: ' ';
                    background: #d4d9df;
                    display: inline-block;
                    position: absolute;
                    left: 29px;
                    width: 2px;
                    height: 100%;
                    z-index: 400;
                }

                ul.timeline > li {
                    margin: 20px 0;
                    padding-left: 20px;
                }

                    ul.timeline > li:before {
                        content: ' ';
                        background: white;
                        display: inline-block;
                        position: absolute;
                        border-radius: 50%;
                        border: 3px solid #cd2147;
                        left: 20px;
                        width: 20px;
                        height: 20px;
                        z-index: 400;
                    }
            /*vertical carousel*/
            .vert .carousel-item-next.carousel-item-left,
            .vert .carousel-item-prev.carousel-item-right {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }

            .vert .carousel-item-next,
            .vert .active.carousel-item-right {
                -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100% 0);
            }

            .vert .carousel-item-prev,
            .vert .active.carousel-item-left {
                -webkit-transform: translate3d(0,-100%, 0);
                transform: translate3d(0,-100%, 0);
            }

            ul.timeline {
                list-style-type: none;
                position: relative;
            }

                ul.timeline:before {
                    content: ' ';
                    background: #d4d9df;
                    display: inline-block;
                    position: absolute;
                    left: 29px;
                    width: 2px;
                    height: 100%;
                    z-index: 400;
                }

                ul.timeline > li {
                    margin: 20px 0;
                    padding-left: 20px;
                }

                    ul.timeline > li:before {
                        content: ' ';
                        background: white;
                        display: inline-block;
                        position: absolute;
                        border-radius: 50%;
                        border: 3px solid #22c0e8;
                        left: 20px;
                        width: 20px;
                        height: 20px;
                        z-index: 400;
                    }

            .wrapper1 {
                display: block;
                display: -webkit-box;
                height: 100px;
                margin: 3px auto;
                font-size: 18px;
                line-height: 1.4;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }


            .wrapper2 {
                position: relative;
                overflow: hidden;
            }

                /*.wrapper2:after {
                    content: '';
                    display: block;
                    padding-top: 75%;
                }

                .wrapper2 img {
                    width: auto;
                    height: 100%;
                    max-width: none;
                    position: absolute;
                    left: 50%;
                    top: 0;
                    transform: translateX(-50%);
                }*/
        </style>
    </head>
    <body>
        <div class="container-fuild">
            <br />
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg-12">
                    <form class="card card-sm">
                        <div class="card-body row no-gutters align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <!--end of col-->
                            <div class="col">
                                <input class="form-control form-control-lg form-control-borderless" id="txt_search" type="search" placeholder="Search topics or keywords">
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <input type="button" class="btn btn-lg btn-success" id="btn_search" value="Search">
                            </div>
                            <!--end of col-->
                        </div>
                    </form>
                </div>
                <!--end of col-->
            </div>
            <div class="row">
                <div class="col-xl-12 col-md-12 col-xs-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title float-left"><i class="fas fa-info-circle" style="color:orange"></i>All News</h3>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <ul class="products-list product-list-in-card pl-2 pr-2" id="newsBody"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>


    <script type="text/javascript">

        var _DeptType = "@ViewBag.DeptType";
    </script>
    <script src="~/Asset/LTE/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/js/View/NewsComponentScript/NewsComponent.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
<link href="~/Avilon/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<div class="col-12 p-0">
    <div class="container-fluid">
        <section id="venue" class="p-0 ">
            @(await Component.InvokeAsync("NewsControl", new { DeptType = "Mainnews1", newstyle = "Normal" }))
        </section>
    </div>
</div>